@charset "UTF-8";
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
◆全体の枠組み
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

	body {
		background: #eee;
		color: #333;
	}

	body > header h1,
	body > nav ul,
	#local,
	body > footer {
		margin: 0 auto;
		padding: 0 20px;
	}

	body > header {
		padding-top: 20px;
		padding-bottom: 10px;
		background: #fff;
	}
	body > header h1 {
		margin: 0;
	}
	body > header h1 a {
		color: #333;
		text-decoration: none;
	}

	body > nav {
		padding-top: 10px;
		background: #f3ecd8;

		box-shadow: inset 0px 4px 4px rgba(0,0,0,0.25);
	}
	body > nav ul {
		margin: 0;
		padding: 0;
	}
	body > nav ul:after {
		content: ".";
		height: 0; display: block; visibility: hidden;
		clear: both;
	}
	body > nav ul li {
		float: left;
	}
	body > nav ul li a {
		display: block;
		padding: 10px 20px;
		
		border-radius: 10px;
		background: rgba( 0, 0, 0, 0.25 );
		box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

		color: #333;
		text-decoration: none;
	}
	body > nav ul li a:hover {
	}

	#local {
		margin: 0 8px;
		padding-top: 20px;
		background: #fff;
		box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	}

	#topicPath {
		margin-bottom: 20px;
		color: #fff;
	}
	#topicPath a {
		color: #fff;
	}

	#local > article {
	}
	#local > aside {
		margin: 0 20px 0 0;
		padding: 20px;

		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
		background: #fff;
	}

	#local > aside > section {
		margin-top: 1.5em;
	}
	#local > aside > section:first-child {
		margin-top: 0;
	}

	#local > aside h2 {
		margin: 0;
	}

	#local > aside ul {
		margin: 0 0 1em;
		padding: 0 0 0 1em;
	}
	#local > aside > *:last-child,
	#local > aside > *:last-child *:last-child {
		margin-bottom: 0;
	}

	body > footer {
		text-align: center;
		color: #fff;
	}

@media only screen and (min-width: 480px) {
}
 
@media only screen and (min-width: 768px) {
	body > header h1,
	body > nav ul,
	#local,
	body > footer {
		width: 728px;
		margin: 0 auto;
	}
	#local:after {
		content: ".";
		height: 0; display: block; visibility: hidden;
		clear: both;
	}
	#local article {
		float: left;
		width: 400px;

		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
		background: #fff;
	}
	#local aside {
		float: right;
		width: 200px;

		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
		background: #fff;
	}
}
@media only screen and (min-width: 960px) {
	body > header h1,
	body > nav ul,
	#local,
	body > footer {
		width: 940px;
	}
}
